/* 
----------------------------------------------------------------
						Colors
----------------------------------------------------------------
*/

:root {
  --background-main: #F0F3F6;
  --background-header: #102442;
  --accent: #1C5FC3;
  --accent2: #588CD8;
  --accent3: #B0C6E5;
  --bodycopy: #434343;
}